.card {
  width: 250px;
  height: 450px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardImage {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage img {
  height: 100%;
  object-fit: cover;
}

.cardContent {
  padding: 10px;
  box-sizing: border-box;
}

.cardTitle {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.cardText {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 4px;
  background-color: #131212;
  padding: 10px;
  box-sizing: border-box;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.btnBuy {
  background-color: #ffba08;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btnBuy:hover {
  background-color: #fac02e;
}
