.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 4px solid transparent;
  border-top-color: black;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  border-radius: 100%;
}

.screenComplete {
  width: 100vw;
  height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
