.containerPrice {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.price {
  display: flex;
  column-gap: 5px;
}

input {
  accent-color: #ffba08;
}

@media (min-width: 620px) {
  .containerPrice {
    color: black;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }
}
