.main {
  display: grid;
  grid-template-rows: 90px auto auto 120px;
  place-items: center;
  row-gap: 30px;
}

.description {
  font-weight: 600;
  font-size: 1.2rem;
}

.price {
  font-size: 24px;
  font-weight: bold;
  justify-self: start;
}

.btnBuy {
  background-color: #ffba08;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 21px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
}

.btnBuy:hover {
  background-color: #fac02e;
}
