.container {
  max-width: 840px;
  margin: 0 auto;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.header {
  background-color: #ffba08;
  border-bottom: 1px solid #000000;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: none;
}

th {
  font-weight: bold;
  color: #ffffff;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 5px;
}

button {
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.total {
  text-align: right;
  margin-top: 20px;
}

.total p {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.total{
  > button {
    background-color: #ffba08;
    padding: 5px;
    color: white;
  }
  margin-right: 10px;
}

input[type="number"]:focus {
  outline: none;
  border: 2px solid #000000;
}

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #000000;
  border-radius: 4px;
}

.product p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 380px) {
  .container {
    padding: 20px;
  }

  .product {
    flex-direction: row;
    justify-content: center;
  }

  button {
    background-color: #ffba08;
    padding: 5px;
    color: white;
  }
}
