.errorContainer {
  background: #d6d0c759;
  height: 100vh;
  width: 100vw;
}

.errorLink {
  position: absolute;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-weight: 600;
  top: 20px;
  left: 30px;
}

.errorText {
  font-size: 2em;
  width: 250px;
  font-weight: 700;
  position: absolute;
  top: 250px;
  left: 40px;
}

@media (min-width: 520px) {
  .errorText {
    width: 350px;
    left: 150px;
  }
}
